/* 汉堡菜单定位到右上角 */
			.hamburger-menu {
				display: none;
				background-color: transparent;
				position: absolute;/* 定位分开调整 */
			}

			/* 汉堡菜单设置 */
			.hamburger {
				position: relative;
				/* 使汉堡折叠导航条绝对定位 */
				display: flex;
				width: 54px;
				height: 50px;
				background-color: #2a2a4f;
				border-radius: 6px;
				border: 2px solid #55aaff;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}

			/* 设置三条白线 */
			.hamburger>li {
				margin: 3px 0px;
				width: 24px;
				height: 2px;
				background-color: #f7f7f7;
				border-radius: 6px;
			}

			/* 鼠标悬浮改变背景颜色 */
			.hamburger:hover>li {
				background-color: #25edff;
			}

			/* 鼠标点击后变白 */
			.hamburger:active>li {
				background-color: #f7f7f7;
			}

			/* 鼠标悬浮变小手点击样式 */
			.hamburger>li:not(.hamburger-toggle):hover {
				cursor: pointer;
			}

			/* 设置汉堡菜单折叠导航条定位 */
			.hamburger-toggle {
				opacity: 1;
				display: none;
				/* 汉堡折叠菜单初始隐藏 */
				position: absolute;
				border-radius: 20px;/* 通过设置圆角边框实现完美覆盖 */
				
			}

			/* 设置汉堡折叠导航条样式 */
			.hamburger-toggle>ul {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				border: 1px solid #4d47ff;
				border-radius: 6px;
			}

			/* 设置汉堡折叠导航条项目容器 */
			.hamburger-toggle li {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 50px;
				width: 150px;
				border: 0.1px solid #4d47ff;
				background-color: #2a1a3e;
				color: #f7f7f7;
			}

			/* 设置汉堡折叠导航条跳转链接样式 */
			.hamburger-toggle a {
				font-family: '楷体';
				font-size: 25px;
				background-color: #2a1a3e;
				text-decoration: none;
				color: #aa55ff;
				user-select: none;
			}

			/* 设置悬浮字体样式 */
			.hamburger-toggle a:hover {
				color: #55ffaa;
			}

			/* 设置点击字体样式 */
			.hamburger-toggle a:active {
				color: #f7f7f7;
			}

			.hamburger-toggle li:first-child {
				border-top-left-radius: 6px;/* 圆角边框覆盖 */
				border-top-right-radius: 6px;/* 圆角边框覆盖 */
			}

			.hamburger-toggle li:last-child {
				border-bottom-left-radius: 6px;
				border-bottom-right-radius: 6px;
			}
