			/* 设置全局样式 */
			*{
				margin: 0;
				padding: 0;
				list-style: none;
				background-color: #1a1a2e;
			}
			/* 顶部导航栏设置 */
			nav{
				/* opacity: 0.7; */
				position: fixed;
				display: flex;
				margin: 0 auto;
				height: 80px;
				width: 100%;
			}
			/* 统一背景颜色 */
			nav *{
				background-color: #1a1a2e;
			}
			/* 顶部导航栏布局设置 */
			nav>ul{
				display: flex;
				margin: 0 auto;
				width: 60%;
				justify-content: space-evenly;
			}
			/* 顶部导航栏项目设置 */
			.nav-main>li{
				line-height: 80px;
				font-size: 25px;
				text-align: center;
				height: 80px;
				width: 180px;
			}
			/* 顶部导航栏字体样式 */
			.nav-main a{
				font-family: '楷体';
				font-size: 30px;
				color: #f7f7f7;
				text-decoration: none;
				text-shadow: 1px 2px 2px gray;
			}
			/* 顶部导航栏#悬浮字体样式 */
			.nav-main a:hover{
				color: #0effff;
			}
			/* 汉堡菜单定位调整 */
			.hamburger-menu{
				right: 20px;
				top: 15px;
			}
			/* 汉堡折叠菜单定位调整 */
			.hamburger-toggle{
				top: 53px;
				right: -15px;
			}
			.story{
				border-radius: 20px;
				margin:0 50px;
				padding: 15px 15px;
				border-radius: 20px;
				border: 2px solid #55aaff;
				font-size: 20px;
				background-color: #2a2a4f;
				color: #f7f7f7;
			}
			/* logo图设置 */
			.Logo{
				position: absolute;
				height: 100%;
				width: 180px;
				z-index: 10;
			}
			/* 设置统一样式 */
			.activity,.change,.suddenly{
				border-radius: 20px;
				margin: 0 50px;
				padding: 15px 15px;
				border-radius: 20px;
				border: 2px solid #55aaff;
				font-size: 20px;
				background-color: #2a2a4f;
				color: #f7f7f7;
			}
			/* 设置标题样式 */
			body h3{
				color: #f7f7f7;
				font-size: 30px;
				margin-left: 65px;
				margin-bottom: 10px;
				font-weight: normal;
				user-select: none;/* 去除标题选中蓝色背景 */
			}
			/* 单独设置第一个，确保导航栏不出错 */
			body h3:first-of-type{
				width: 120px;
			   padding-top: 80px; /* 上 右 下 左 */
			}
			/* 设置其他所有h3 */
			body h3:not(:first-of-type){
				width: 60px;
			    margin-top: 10px;
			}
			body h3:hover{
				
				color: #25edff;
				cursor: pointer;
			}
			/* 确保背景颜色覆盖 */
			.story *,.activity *,.change *,.suddenly *{
				background-color: #2a2a4f;
			}
			.story a{
				text-decoration: none;
			}
			/* 难度简单，文字颜色：#00ff7f; */
			.story .easy{
				color: #00ff7f;
			}
			/* 难度中等，文字颜色：#fcff13 */
			.story .middle{
				color: #fcff13;
			}
			/* 难度困难，文字颜色：#ff0000 */
			.story .diffcult{
				color: #ff0000;
			}
			/* 难度极难，文字颜色：#aa00ff */
			.story .nightmare{
				color: #aa00ff;
			}
			/* 难度神级,文字颜色:#ffaa00 */
			.story .divine{
				color: #ffaa00;
			}
			/* 注意样式 */
			.attention{
				cursor: pointer;
				/* user-select: none; */
				padding: 1px 5px 1px 5px;
				border: 2px solid #f7f7f7;
				border-radius: 100%;
			}
			.story a:hover{
				color: #25edff;
				
			}
					
