/* 
	textarea区域提示文字颜色：#a19fa5;
 
 */
/* 全局样式 */
*{
	margin: 0;
	padding: 0;
	background-color: #1a1a2e;
}
/* 页面整体居中 */
body{
	display: flex;
	justify-content: center;
	align-items: center;
}
/* 设置整体容器 */
.mess{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 900px;
	width: 90%;
	position: relative;
	margin: 60px auto;
	border-radius: 20px;
	border: 3px solid #55aaff;
	background-color: #2a2a4f;
}
/* 背景颜色覆盖 */
.mess *{
	background-color: #2a2a4f;
}
/* 设置留言框容器 */
.mess-main{
	display: flex;
	flex-direction: column;
	width: 100%;
	border-radius: 20px;/* 圆角边框覆盖 */
}
.mess-main .input-container{
	position: relative;
	margin: 0 auto;
	width: 60%;
}
/* 返回按钮设置 */
.return{
	color: #f7f7f7;
	text-decoration: none;
	font-size: 25px;
	position: absolute;
	top: 20px;
	left: 90px;
	z-index: 12;
}
.return:hover{
	color: #25edff;
}
/* 设置标题样式 */
.tit{
	cursor: pointer;
	user-select: none;
	color: #f7f7f7;
}
/* 设置大标题 */
.t1{
	position: absolute;
	top: 5px;
	font-size: 36px;
}
/* 设置输入框标题 */
.t2,.t3{
	position: absolute;
	font-size: 25px;
	margin: 5px auto;
	z-index: 5;
}
/* 设置宽度 */
.t2{
	margin-top: 20px;
	width: 50px;
	top: -10px;
}
.t3{
	width: 100px;
	top: 5px;
}
/* 设置鼠标悬浮样式 */
.tit:hover{
	color: #25edff;
}
/* 整体设置输入框 */
textarea{
	margin-bottom: 15px;
	padding-top: 7px;
	padding-left: 2px;
	color: #f7f7f7;
	resize: none;/* 禁止调整大小 */
	font-size: 15px;
	caret-color: #f7f7f7 !important;
	min-height: 1.5em;
	border-radius: 5px;
	border: 2px solid #aa55ff;
}
/* 设置鼠标点击后输入框样式 */
textarea:focus{
	border-radius: 5px;
    border: 2px solid #55ffaa;
	outline: none;/* 去除默认选中颜色 */
	box-shadow: 0 0 12px rgba(12, 255, 52, 0.7);
}
/* 设置输入框提示内容 */
textarea::placeholder{
	color: #a19fa5;
	font-family: '微软雅黑';
}
/* 设置用户名输入框 */
.mess-name{
	height: 30px;
	width: 100%;
	margin-top: 50px;
	box-shadow: 0 0 12px rgba(161, 10, 255, 0.7);
}
/* 设置留言内容框 */
.mess-mess{
	height: 120px;
	width: 100%;
	margin: 50px auto 15px auto;/* 上右下左 */
	box-shadow: 0 0 12px rgba(161, 10, 255, 0.7);
}
.sub-container{
	position: relative;
	width: 60%;
	height: 50px;
	margin: 0 auto 10px auto;
	position: relative;
	text-align: right;
}
/* 设置提交按钮 */
.allright{
	position: absolute;
	right: 0px;
	color: #00ff00;
	background-color: #aa55ff;
	border: #aa55ff;
	border-radius: 5px;
	height: 40px;
	width: 75px;
	cursor: pointer;
}
/* 设置提交按钮悬浮样式 */
.allright:hover{
    border-color: #66ccff;
	box-shadow: 0 0 20px rgba(161, 10, 255, 0.7);
}
/* 设置提交按钮点击样式 */
.allright:active{
	border: #55ffaa;
	color: #8800ff;
	background-color: #55ffaa;
	box-shadow: 0 0 12px rgba(12, 255, 52, 0.7);
}
/* 留言储存区样式 */
.mess-store{
	height: 500px;
	width: 90%;
	margin: 0 auto 50px auto;
	border: 2px solid #55aaff;
}
/* 保证颜色覆盖 */
.mess-store *{
	color: #f7f7f7;
}
/* 留言区内部样式调整 */
/* 用户名称 */
.recieve-name{
	font-size: 22px;
	margin: 25px 15px 10px 15px ;/* 上右下左 */
}
/* 用户留言内容 */
.recieve{
	font-size: 18px;
	margin: 10px 15px 10px 15px ;
}
/* 留言分割线 */
.split{
	margin: 10px;
}
